*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

span {
    display: inline-block;
}

/* Default style */
.banner,
.banner-bottom,
.lightning,
.privacy,
.pricing{
    padding: 100px 0px;
}

.sec-heading{
    text-align: center;
    margin-bottom: 70px;
}

h2{
    font-size: 56px;
    font-weight: 700;
}

h3{
    font-size: 42px;
    font-weight: 700;
}

/* Own Class */

.base-color{
    background-color: #651FFF;
}

.text-color{
    color: #651FFF;
}

/* Banner Start */

.banner{
    background-color: #EBE5FA;
}

.banner-wrapper h1{
    font-weight:700;
    line-height: 50px;
}

.banner-wrapper h1 > span:nth-child(3) > span{
    color: #651FFF;
}

/* lightning start */
.lightning-wrapper > div > div > div{
    color: #ffffff;
    border-radius: 20px;
}

.lightning-wrapper > div > div > div a{
    color: #ffffff;
}

/* Team start */
.team-wrapper > div > div:nth-child(1) > div,
.team-wrapper > div > div:nth-child(2) > div{
    border-radius: 20px;
}

.team-wrapper > div:nth-child(1) > div:nth-child(1) > div{
    background-color: #FFF7ED;
}

.team-wrapper > div:nth-child(1) > div:nth-child(2) > div{
    background-color: #E0F7FA;
}

.team-wrapper > div:nth-child(2){
    background-color: #ECECFE;
    margin-top: 20px;
    border-radius: 20px;
}

.team-wrapper img{
    width: 100%;
}

/* privacy start */
.inner-privacy-wrapper > div {
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    
}

/* .inner-privacy-wrapper > div:nth-child(3){
    margin-bottom: 0px;
} */

.inner-privacy-wrapper > div:not(:nth-child(3)){
    margin-bottom: 30px;
}

.privacy .more-mb{
    margin-bottom: 80px;
}

/* pricing start */

.pricing{
    /* background: url("./img/pricing/bg-2.png"); */
    background: linear-gradient(#00E5FF 56%, #ffffff 44%);
}

.pricing-wrapper > div > div:nth-child(1) > div,
.pricing-wrapper > div > div:nth-child(2) > div {
    padding: 50px;

}

.pricing-wrapper > div > div:nth-child(1) > div {
    background-color: white;
    text-align: center;
    border-radius: 20px;
}

.pricing-wrapper > div > div:nth-child(2) > div {
    background-color: #651FFF;
    color: #ffffff;
    border-radius: 20px;
}

.pricing-wrapper > div > div:nth-child(2) > div > span:nth-of-type(1),
.pricing-wrapper > div > div:nth-child(2) > div > span:nth-of-type(2){
    background-color: white;
    padding: 5px 8px;
    border-radius: 15px;
}

.pricing-wrapper > div > div:nth-child(2) > div > span:nth-of-type(1) {
    color: #651FFF;
}

.pricing-wrapper > div > div:nth-child(2) > div > span:nth-of-type(2) {
    color: #22D3EE;
}


.pricing-wrapper ul{
    display: inline-block;
}


.pricing-wrapper ul li {
    display: flex;
    gap: 15px;
}

.pricing-wrapper ul li:not(:nth-child(3)){
    margin-bottom: 30px;
}



@media only screen and (min-width: 768px) {
    .pricing-wrapper > div > div:nth-child(2) > div {
        /* border-top-right-radius: 20px;
        border-bottom-right-radius: 20px; */
        /* top-left | top-right | bottom-right | bottom-left */
        border-radius: 0px 20px 20px 0px;
    }
}