@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
}

.container{
    max-width: 900px;
    margin: 0px auto;
    padding: 0px 15px;
}

header{
    padding: 15px 0px;
    /* background-color: blue; */
    /* color: #ffffff; */
    margin-bottom: 20px;
}

header a{
    color: #ffffff;
}

header>div>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h4{
    font-size: 22px;
}

.card{
    padding: 30px 20px;
    margin-bottom: 20px;
    background-color: #ededed;
    border-radius: 15px;
}

.card-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-wrapper > div {
    display: flex;
    align-items: center;
    gap: 20px;
}